# Arithmatic Operator

In [1]:
x=4
y=5

print(x+y)
print(x-y)
print(x*y)
print(x/y)

9
-1
20
0.8

# Modulus

In [3]:
x=5
y=2

print(x%y)

1

# Exponentiation

* assignment operator

In [4]:
x=17
y=x+3
print(y)

20

* Comparison Operator

In [5]:
x=3
y=4

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

* Logical Operator

In [6]:
x=12

print(x>3 and x<14)
print(x>3 or x<4)
print(x>3 and x<10)

True
True
False

* Membership Operator

In [7]:
x=["suvarna","komal","vidya"]

print("suvarna" in x)

True

In [8]:
x=["apple","banana"]

print("suvarna" not in x)

True

* Identity Operator

In [9]:
x=["apple","banana"]
y=["apple","banana"]
z=x


print(x is z)
print(x is y)
print(x == z)

True
False
True

# Id

In [10]:
print(id(x))
print(id(y))
print(id(z))

1494575148416
1494575429120
1494575148416

# List

In [16]:
thislist=["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# Access Item

In [17]:
thislist=["apple","banana","cherry"]
print(thislist[1])

banana