In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\suvar\Desktop\python\weather_report.csv",index_col=['Day'])
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [2]:
df.loc['Fri','Temperature']

10.51

In [4]:
df.iloc[4,1]

10.51

In [7]:
df.loc[:,'Temperature']

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [9]:
df.iloc[:,1]

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [10]:
df.loc[['Thu','Fri'],'Temperature']

Day
Thu    14.44
Fri    10.51
Name: Temperature, dtype: float64

In [11]:
df.loc['Fri',['Temperature','Wind']]

Temperature    10.51
Wind              26
Name: Fri, dtype: object

In [12]:
df.iloc[[3,4],1]

Day
Thu    14.44
Fri    10.51
Name: Temperature, dtype: float64

In [14]:
df.iloc[4,[1,2]]

Temperature    10.51
Wind              26
Name: Fri, dtype: object

In [15]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [17]:
rows=['Thu','Fri']
cols=['Temperature','Wind']

df.loc[rows,cols]

     Temperature  Wind
Day
Thu        14.44    11
Fri        10.51    26

In [18]:
rows=['Thu','Fri']
df.loc[rows,'Temperature':'Humidity']

     Temperature  Wind  Humidity
Day
Thu        14.44    11        22
Fri        10.51    26        79

In [20]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [21]:
df.loc['Mon':'Fri':3,:]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Thu  Cloudy        14.44    11        22

In [22]:
df.iloc[[1,2],0:3]

    Weather  Temperature  Wind
Day
Tue   Sunny        19.67    28
Wed   Sunny        17.51    16

In [23]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [24]:
df.iloc[0:4:1,:]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22

# condition

In [25]:
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [26]:
df.loc[df.Weather=='Sunny',:]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Sun   Sunny        17.50    20        10

In [27]:
df.loc[df.Temperature>15,:]

    Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Sun   Sunny        17.50    20        10

In [28]:
df.loc[
    (df.Humidity >50) | (df.Temperature<18)
]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10